header a.moniker{
  margin-left: 15px;
}

.clipboard.copied{
  text-decoration: underline;
}

.btn-circle-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}
