header a.moniker{
  margin-left: 15px;
}

.clipboard.copied{
  text-decoration: underline;
}

.btn-circle-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

code {
  padding: 0.5rem;
  line-height:1.5rem;
}

code p{
  margin-bottom: 0.5rem;
}

.table-warning {
  --bs-table-bg: none;
  --bs-table-striped-color: none;
  --bs-table-active-bg: none;
  --bs-table-active-color: none;
  --bs-table-hover-bg: none;
  --bs-table-hover-color: none;
  background-color: #bfffbe !important;
  --bs-table-accent-bg: none;
  --bs-table-striped-bg: none;
}